{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="header">
            <h1>Semantic Search</h1>
        </div>
        <p class="lead">This web demo showcases semantic search (search by meaning) on award abstracts using Solr and BERT embeddings. Feel free to explore and enjoy your searching!</p>
        <p>
            In the field of information retrieval, documents obtained from searches are ranked based on their relevance to the query. Traditionally, this relevance has been determined by assessing the textual similarity (e.g. BM25) between the query and the document. However, this approach overlooks the true meaning of words or phrases in their context, leading to limitations in search accuracy. To overcome this, we introduce a method to measure semantic similarity between texts, allowing for more precise search results.

To achieve semantic search, we adopt a technique that transforms each sentence into a vector space, where semantically similar sentences are positioned close to one another. This is where Sentence-BERT (SBERT) comes into play, generating semantically meaningful BERT embeddings that can be compared using cosine similarity. With this approach, we can significantly enhance the search experience and yield more relevant results.
        </p>
        <hr class="my-4">
        
        <a class="btn waves-effect waves-light red lighten-2" href="/search" 
            role="button" onclick="showLoader()">Search now</a>
    </div>
</div>
{% endblock %}
